<%- include("partials/header") %>

<h2>Folder: <%= folder.name %></h2>

<form
  action="/folders/<%= folder.id %>/upload"
  method="POST"
  enctype="multipart/form-data"
>
  <input type="file" name="file" multiple required />
  <button type="submit">Upload Files</button>
</form>

<h3>Files:</h3>
<ul>
  <% if (folder.files.length > 0) { %> <% folder.files.forEach(file => { %>
  <li>
    <a href="/folders/<%= folder.id %>/file/<%= file.id %>">
      <%= file.filename ? file.filename : "Unnamed File" %>
    </a>
    (<a href="/folders/<%= folder.id %>/file/<%= file.id %>/download"
      >Download</a
    >)
    <form
      action="/folders/<%= folder.id %>/file/<%= file.id %>/delete"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
  </li>
  <% }) %> <% } else { %>
  <p>No files in this folder.</p>
  <% } %>
</ul>

<a href="/">home</a>
